DB_USERNAME=postgres
DB_PASSWORD=
OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_CHAT_BASE_URL=
OPENAI_CHAT_API_KEY=
OPENAI_CHAT_MODEL=
OPENAI_EMBEDDING_BASE_URL=
OPENAI_EMBEDDING_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-v4
